* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans';
}
/* html{
    scroll-behavior: smooth;
} */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:active, input:focus {
    outline: none;
  }
  input::-moz-focus-inner {
    border: 0;
  }
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
}
.sticky{
    list-style: none;
}
.container{
    /* ширина выщатана */
    width: 88%; 
    margin: auto;
}
.container2{
    width: 78%;
    margin: auto;
}
.container3{
    width: 1125px;
    margin: auto;
}
.container4{
    width: 78%;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.menu-item{
    list-style: none;
}
.menu-item-link{
    text-decoration: none;
    font-weight: 700;
    padding: 8px;
    border-radius: 4px;
    color: #5B5B5B;
    transition: all 0.5s ease-in-out;
}
.menu-item-link:hover{
    color: black;
}
.menu-active{
    color: black;
    background-color: #27DEBF;
}
.mobile-menu{
    display: none;
}
.slogan{
    /* vh - viewport height */
    height: 550px;
    display: flex;
    align-items: center;
}
.slogan-inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 20px;
}
#typed{
    font-weight: 700;
}
.throught{
    font-weight: 700;
}
.slogan-p{
    font-size: 25px;
    color: #455A64;
}
.slogan-buttons{
    margin-top: 80px;
    display: flex;
    align-items: center;

}
.slogan-br-dn{
    display: none;
}
.slogan-button-fill{
    padding: 15px 40px;
    font-size: 15px;
    background-color: #27DEBF;
    border-radius: 26px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-right: 30px;
    transition: all 0.5s ease-in-out;
}
.slogan-button-fill:hover{
    box-shadow: 0px 0px 20px #27DEBF;
}
.videoPop{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    margin: auto;
}
.slogan-button-link{
    text-decoration: none;
    font-weight: 700;
    color: black;
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 26px;
    border: 2px solid transparent;
}
.slogan-button-link:hover{
    background-color: #27DEBF;
    color: white;
}
#blobId{
    position: absolute;
    z-index: -20;
    right: 0;
    top: 0;
} 
.blobClass{
    /* position: absolute; */
    /* width: 90%; */
    transform: translate(100px,-200px);
}
#scene{
    position: absolute;
    top: 500px;
    left: 0;
    width: 100%;
}
.parallax-img-1{
    left: 7% !important;
    top: 110px !important;
} 
.parallax-img-2{
    left: 30%!important;
    top: -300px!important;
}
.parallax-img-3{
    left: 18%!important;
    top: -390px!important;
}
.parallax-img-4{
    left: 30% !important;
    top: 80px !important;
}
.parallax-img-5{
    right: 5% !important;
    left: 95% !important;
    top: -70px !important;
}
.parallax-img-6{
    right: 45% !important;
    left: 55% !important;
    top: 55px !important;
}
.parallax-img-7{
    left: 93%!important;
    top: -335px!important;
    right: 7% !important;
}
.parallax-img-8{
    right: 8% !important;
    left: 92% !important;
    top: 190px !important;
} 
.slogan-parallax-img{
    z-index: -15;
}
#blobxId{
    position: absolute;
    top: 31px;
    left: -571px;
    z-index: -10;
    width: 100%;
    height: 600px;
}
#blobaId{
    position: absolute;
    top: 291px;
    z-index: -10;
    width: 100%;
    height: 600px;
}
.about-img-media{
    display: none !important;
}
.aboutimg-item{
    background-image: url(../img/about-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 450px;
    box-shadow: 0px 12px 15px #1616162e;
    margin: auto;
}
.about-info-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-info{
    width: 45%;
}
.h2-custom{
    color: #27DEBF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
}
.line-h2-custom{
    width: 100px;
    height: 16px;
    border-radius: 8px;
    background: #0FBF61 0% 0% no-repeat padding-box;
    opacity: 0.1;
    position: relative;
    top: -11px;
}
.custom-title-h4{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
    color: #151D41;
}
.custom-p{
    line-height: 25px;
    font-size: 20px;
    font-weight: 400;
    color: #151D41;
    margin-bottom: 80px;
}
.about-img{
    width: 50%;
}
.parallax-img-a1{
    left: -30px !important;
    top: 90px !important;
}
.parallax-img-a2{
    left: 370px !important;
    /* top: 147px !important; */
}
.about-parallax2{
    top: -515px;
    z-index: -20;
}
.about-button{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    background-color: #27DEBF;
    padding: 18px 45px;
    border-radius: 8px;
    border: 1px solid #27DEBF;
    transition: all 0.5s ease-in-out;
}
.about-button:hover{
    background: white;
    border: 1px solid #27DEBF;
    color:#27DEBF;
}
.about-counter{
    display: flex;
    justify-content: space-between;
    flex-direction: unset;
    align-items: center;
    margin-top: -50px;
}
.counter-box{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 0px 0px 15px #151D410F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}
.counter-box-inner{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid #D4F8E5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.prcent-counter{
    color:#151D41;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 7px;
}
.percent-info{
    color: #151D41;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}
.chart{
    position: relative;
    width: 180px;
    height: 180px;
}
.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}
.counter-box-row1{
    display: contents;
}
.counter-box-row2{
    display: contents;
}
.chart-info{
    display: flex;
    height: 180px;
    align-items: center;
    justify-content: center;
}
.tak{
    text-align: center;
}
.services-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.services-info{
    width: 30%;
    padding: 45px;
    box-shadow: 0px 8px 20px #7682B72E;
}
.services-counter{
    width: 45%;
    padding: 45px;
    box-shadow: 0px 8px 20px #7682B72E;
}
.h2-services{
    color: #27DEBF;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.h2-services-line{
    width: 130px;
    height: 19px;
    border-radius: 8px;
    background: #0FBF61 0% 0% no-repeat padding-box;
    opacity: 0.1;
    position: relative;
    top: -16px;
    left: 3px;
    margin: auto;
}
.h3-services{
    font-size: 32px;
    font-weight: bold;
    color: #151D41;
    margin-top: 20px;
    text-align: center;
}
.h3-services-line{
    width: 480px;
    height: 19px;
    border-radius: 8px;
    background: #0FBF61 0% 0% no-repeat padding-box;
    opacity: 0.1;
    position: relative;
    top: -16px;
    left: 3px;
    margin: auto;
    margin-bottom: 70px;
}
.services-info-h4{
    color: #151D41;
    font-size: 28px;
    font-weight: 600;
    margin-top: 36px;
}
.services-info-lines{
    display: flex;
    margin-top: 15px;
}
.services-lines{
    height: 3px;
    width: 21px;
    background-color: #27DEBF;
    margin-right: 20px;
}
.services-info-p{
    line-height: 26px;
    color: #151D41;
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 50px;
}
.services-info-button{
    text-decoration: none;
    padding: 13px 20px;
    background-color: #27DEBF;
    border: 1px solid #27DEBF;
    color: white;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    display: inline-block;
}
.services-info-button:hover{
    color: #27DEBF;
    background-color: white;
    border: 1px solid #27DEBF;
    transform: translate(6px, -6px);
}

.fas{
    margin-left: 20px !important;
}
.progress-bar-width{
    height: 16px;
    margin-bottom: 30px;
}
.services-counter-count{
    color: #151D41;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 30px;
}
.services-counter-h5{
    color: #151D41;
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 20px;
}
.services-counter-p{
    color: #686868;
    font-size: 18px;
    font-weight: 400;
}
.block-order1{
    order: 1;
}

.block-order3{
    order: unset;
}
.portfolio{
    margin-top: 180px;
}
.portfolio-line1{
    width: 110px;
}
.portfolio-line2{
    width: 275px;
}

.portfolio-slide{
    display: block !important;
    width: 100% !important;
    margin: 0 auto;
    margin-bottom: 30px;
}
.slick-track{
    margin: auto;
}
.portfolio-slider-img{
    width: 250px;
    height: 250px;
    padding: 0;
    outline: 0;
    margin: auto;
}
/* .portfolio-bg-img{ */
    /* background-image: url(../img/portfolio1.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-size: 100%; */
    /* width: 100%;
    height: 100%; */
    /* width: 100%;
    height: 100%;
}
.pw1{
    background-image: url(../img/resizeOfPortfolioImg/pw1-r.jpg);
}
.pw2{
    background-image: url(../img/resizeOfPortfolioImg/pw2-r.jpg);
}
.pw3{
    background-image: url(../img/resizeOfPortfolioImg/pw3-r.jpg);
}
.pw4{
    background-image: url(../img/resizeOfPortfolioImg/pw4-r.jpg);
}
.pw5{
    background-image: url(../img/resizeOfPortfolioImg/pw5-r.png);
}
.pw6{
    background-image: url(../img/resizeOfPortfolioImg/pw6-r.jpg);
}
.pw7{
    background-image: url(../img/resizeOfPortfolioImg/pw7-r.jpg);
}
.pw8{
    background-image: url(../img/resizeOfPortfolioImg/pw8-r.png);
}
.pw9{
    background-image: url(../img/resizeOfPortfolioImg/pw9-r.png);
}
.pm1{
    background-image: url(../img/resizeOfPortfolioImg/pm1-r.jpg);
}
.pm2{
    background-image: url(../img/resizeOfPortfolioImg/pm2-r.png);
}
.pm3{
    background-image: url(../img/resizeOfPortfolioImg/pm3-r.jpg);
}
.pm4{
    background-image: url(../img/resizeOfPortfolioImg/pm4-r.png);
}
.pm5{
    background-image: url(../img/resizeOfPortfolioImg/pm5-r.png);
}
.pm6{
    background-image: url(../img/resizeOfPortfolioImg/pm6-r.png);
}
.pm7{
    background-image: url(../img/resizeOfPortfolioImg/pm7-r.jpg);
}
.pm8{
    background-image: url(../img/resizeOfPortfolioImg/pm8-r.jpg);
}
.pm9{
    background-image: url(../img/resizeOfPortfolioImg/pm8-r.jpg);
}
.pu1{
    background-image: url(../img/resizeOfPortfolioImg/pu1-r.png);
}
.pu2{
    background-image: url(../img/resizeOfPortfolioImg/pu2-r.png);
}
.pu3{
    background-image: url(../img/resizeOfPortfolioImg/pu3-r.jpg);
}
.pu4{
    background-image: url(../img/resizeOfPortfolioImg/pu4-r.png);
}
.pu5{
    background-image: url(../img/resizeOfPortfolioImg/pu5-r.jpg);
}
.pu6{
    background-image: url(../img/resizeOfPortfolioImg/pu6-r.jpg);
}
.pu7{
    background-image: url(../img/resizeOfPortfolioImg/pu7-r.jpg);
}
.grid{
    width: 1120px; */
    /* width: 100%; */
    /* margin: auto;
}
.portfolio-grid {
    max-height: 290px;
}
.grid-item{
    width: 250px;
    height: 250px;
    margin-bottom: 40px;
}
.gutter-sizer{
    width: 40px;
}
.portfolio-bg-color{
    background-color: #27debf00; */
    /* width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.portfolio-bg-color:hover{
    background-color:#27debfd9; */
    /* width: 100%;
    height: 100%;
}
.portfolio-bg-color:hover .portfolio-info-button{
    opacity: 1;
} */
/* .portfolio-info-button{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.portfolio-title{
    font-size: 25px;
    font-weight: 400;
    color: white;
    margin-bottom: 40px;
    transition: all 0.5s ease-in-out;
} */
/* .portfolio-plus{
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
}
.portfolio-plus:hover{
    transform: translate(0px, -5px);
    box-shadow: 0px 0px 15px white;
}
.portfolio-filter-button{
    border: none;
    cursor: pointer; 
    font-size: 20px;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    color: black;
    transition: all 0.5s ease-in-out;
}
.portfolio-filter-button:hover{
    color: white;
    background-color: #27DEBF;
}
.is-checked{
    color: white;
    background-color: #27DEBF; 
}
.portfolio-filer{
    display: flex;
    justify-content: space-between;
    width: 450px;
    margin: auto;
    margin-bottom: 30px;
} */
.portfolio-view-all-b{
    width: 110px;
    display: flex;
    /* justify-content: center; */
    margin: auto !important;
    border: none;
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
    border-radius: 4px;
    color:  white;
    background-color: #27DEBF;
    border: 1px solid #27DEBF;
    transition: all 0.5s ease-in-out;
    margin-bottom: 30px;
    margin-top: 50px;
    text-decoration: none !important;
    /* outline: none; */
}
.blog-button{
    width: 80px;
    margin: auto;
}
.button-form-submit{
    width: 150px;
    margin: auto;
}
.portfolio-view-all-b:hover{
    background-color: white;
    color: #27DEBF;
}
.testimonials{
    padding-top: 150px;
}
.testimonials-line2{
    width: 230px;
}
.testimonials-vertical-line{
    color:#27DEBF;
    font-size: 250px;
    font-weight: 400;
    text-align: center;
    height: 150px;
}
.first-testimonials-carousel{
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
}
.second-testimonials-carousel{
    width: 350px; 
    margin: auto;
    margin-bottom: 30px;
}
.testimonial-p{
    font-size: 14px;
    color: #151D41;
    text-align: center;
}
.testimonial-bold-p{
    font-size: 20px;
    color: #151D41;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
/* div */
.slide-1-img{
    height: 100px;
    padding-top: 30px;
    border-radius: 50%;

}
.slide-2-img{
    height: 100px;
    padding-top: 30px;
    border-radius: 50%;

}
.slide-3-img{
    height: 100px;
    padding-top: 30px;
    border-radius: 50%;

}
/* img */
.img-slick1{
    border: 2px solid #27DEBF;
    border-radius: 80px;
    width: 70px;
    z-index: -20;
    margin: auto;
}
.img-slick2{
    border: 2px solid #27DEBF;
    border-radius: 80px;
    width: 70px;
    z-index: -20;
    margin: auto;
}
.second-testimonials-carousel img{
    width: 70px;
    transform: scale(0.9);
}
.second-testimonials-carousel .slick-current img {
    transform: scale(1.3);
  } 
.img-slick3{
    border: 2px solid #27DEBF;
    border-radius: 80px;
    width: 70px;
    z-index: -20;
    margin: auto;
}
.slick-dots li button::before {
    font-size: 10px !important;
    color: #000000 !important;
    opacity: 0.7;
}
.slick-dots li.slick-active button::before {
    color: #27DEBF !important;
    opacity: 1;
}
.slide-div{
    display: flex !important;
    justify-content: center;
}
.testimonials-parallax-1{
    left: 18%!important;
    top: -246px!important;
}
.testimonials-parallax-2{
    left: 80%!important;
    top: -560px!important;
}
.testimonials-parallax-3{
    left: 75%!important;
    top: -193px!important;
}
.testimonials-parallax-4{
    left: 29%!important;
    top: -747px!important;
}
.testimonials-parallax-5{
    left: 57%!important;
    top: -698px!important;
}
#blobtId{
    position: absolute;
    top: 4896px;
    left: -21%!important;
    z-index: -10;
    width: 100%;
    height: 600px;
}
.blog{
    margin-top: 150px;
}
.blog-line1{
    width: 52px;
}
.h2-title{
    /* width: 61px; */
    margin: auto;
}
.blog-line2{
    width: 240px;
}
.blog-items{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 562px;
    width: 100%;
}
.blog-item1{
    height: 495px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 15px 20px #7682B72D;
}
.img-blog{
    width: 100%;
}
.item-info{
    /* background-color: white; */
    order: 1;
    padding: 15px 25px;
    width: 316px;
    height: 197px;
    z-index: 1500;
}
.item-h4{
    color:#27DEBF;
    font-size: 18px;
    font-weight: 600;
}
.p-blog{
    height: 70px;
}
.item-p {
    color: #151D41;
    font-size: 14px;
    line-height: 20px;
    height: 60px;
    /* width: min-content; */
    width: 80%;
    overflow: hidden;
}
.item-p-bold{
    font-weight: 600;
    color: #151D41;
    font-size: 16px;
    padding-top: 20px;
}
.item-info-button{
    padding-top: 20px;
}
.item-button{
    text-decoration: none;
    color: #27DEBF;
    transition: all 0.5s ease-in-out;
}
#blobBlog{
    position: absolute;
    z-index: -20;
    top: 5889px;
    right: 0px;
}
.contact{
    margin-top: 120px;
    padding-top: 120px;
    background-image: url(../img/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.h2-contact{
    color: #27DEBF;
    text-transform: uppercase;
    font-size: 16px;
    margin: auto;
    white-space: nowrap;
    width: 133px;
}
.h2-contact-line{
    width: 105px;
}
.h3-contact-line{
    width: 270px;
}
.arrowUp{
    scroll-behavior: smooth;
}
.sticky-arrow-up-img{
    width: 25px;
    padding: 16px;
    color: white;
    background-color:#27DEBF;
    border-radius: 90px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.sticky-arrow-up-img:hover{
    box-shadow: 0px 0px 20px #27DEBF;
}
.sticky-arrow-up{
    position: fixed;
    top: 80%;
    left: 93%;
    z-index: 200;
}
form{
    margin: auto;
    width: 800px;
    margin-bottom: 100px;
}
.form-line{
    display: flex;
    justify-content: space-between;
}
.input-text{
    background-color: white;
    width: 330px;
    color: #151D41;
    font-size: 14px;
    border: 2px solid #151D41;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 35px;
    transition: all 0.5s ease-in-out;
}
.input-text:focus{
    border: 2px solid #27DEBF;
}
.input-text::placeholder{
    font-size: 14px;
}
select{
    width: 375px !important;
    /* убирает подсветку в chrome */
    outline: none;
}

textarea{
    display: block;
    width: 756px;
    height: 120px;
    background-color: white;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #151D41;
    transition: all 0.5s ease-in-out;
    padding: 20px;
    outline: none;
    margin-bottom: 40px;
    resize: none;
}
textarea:focus{
    border: 2px solid #27DEBF;
}
#map{
    margin: auto;
    margin-bottom: 80px;
}
.footer-main-info{
    display: flex;
    justify-content: space-between;
}
.footer-left{
    width: 35%;
}
.footer-right{
    width: 55%;

}
.footer-logo-description{
    width: 280px;
}
select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
.footer-info{
    /* width: 100%; */
    width: 265px;
    display: flex;
    align-content: flex-end;
    /* display: flex !important;
    align-content: flex-end !important; */
}
.footer-p{
    text-align: left;
    font-size: 21px;
    font-weight: 600;
}
.footer-links{
    margin-top: 31px;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    color:#27DEBF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}
.footer-rights{
    margin-top: 21px;
    margin: auto;
}
.footer-info-rights{
    width: 272px;
    margin: auto;
}
.footer-parallax-1{
    left: 5%!important;
    top: -70px!important;
}
.footer-parallax-2{
    left: 80%!important;
    top: -70px!important;
}
.footer-parallax-3{
    left: 75%!important;
    top: -310px!important;
}
.footer-parallax-4{
    left: 29%!important;
    top: -95px!important;
}
.footer-parallax-5{
    left: 57%!important;
    top: -246px!important;
}
.containerBlog{
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}
.item-infoBlog{
    order: 1;
    padding: 15px 25px;
    width: 100%;
    /* height: 197px; */
    z-index: 1500;
    /* margin: auto; */
}
/* .img-blog-2{
    
} */
/* Mobile devices */
@media screen and (min-width: 315px) and (max-width: 425px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 90%;
        margin: auto;
    }
    .mobile-burger-img{
        width: 30px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 600;
        font-size: 20px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 50px;
        text-align: center;
    }
    .slogan-br-dn{
        display: block;
    }
    .slogan-inside{
        flex-direction: column;
        justify-content: center;
    }
    .slogan-info-h1{
        font-size: 25px;
        line-height: 30px;
    }
    .slogan-p{
        font-size: 23px;
    }
    .slogan-buttons{
        margin-top: 40px;
    }
    .slogan-button-fill{
        padding: 10px 10px;
        margin-right: 0px;
    }
    .slogan-button-link{
        padding: 10px 10px;
    }
    .videoPop{
        max-width: 100%;
    }
    #video-popup{
        width: 90%;
        height: 560px;
    }
    .slogan-inside-img img{
        width: 100%;
        margin-top: 30px;
    }
    .about{
        margin-top: 30px;
    }
    .container3{
        width: 90%;
    }
    .about-info-block{
        display: flex;
        flex-direction: column;
    }
    .h2-custom{
        width: 110px;
        margin: auto;
    }
    .line-h2-custom{
        width: 90px;
        margin: auto;
    }
    .about-img-media{
        display: block;
    }
    .about-img-media img{
        width: 100%;
    }
    .about-info{
        width: 80%;
        margin-bottom: 30px;
    }
    .custom-p{
        font-size: 13px;
    }
    .custom-title-h4{
        font-size: 20px;
    }
    .about{
        margin-top: 55px;
    }
    .about-counter{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
    .custom-p{
        font-size: 15px;
    }
    .counter-box{
        width: 130px;
        height: 130px;
        margin-bottom: 50px;
    }
    .chart{
        width: 110px;
        height: 110px;
    }
    .chart canvas{
        width: 110px !important;
        height: 110px !important;
    }
    .chart-info{
        height: 110px;
    }
    .chart-info-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .prcent-counter{
        font-size: 28px;
    }
    .percent-info{
        font-size: 8px;
    }
    .counter-box-row1{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .counter-box-row2{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .h3-services{
        font-size: 20px;
    }
    .h3-services-line{
        width: 50%;
        margin: auto auto 30px;
    }
    .services-row{
        flex-direction: column;
    }
    .block-order1{
        order: 1;
    }
    .block-order2{
        order: unset;
    }
    .block-order3{
        order: 2;
    }
    .services-info{
        width: 75%;
        margin-bottom: 20px;
    }
    .services-counter{
        width: 75%;
        margin-bottom: 20px;
    }
    .container2{
        width: 85%;
    }
    .portfolio{
        margin-top: 40px;
    }
    .portfolio-slide{
        height: 170px;
    }
    .portfolio-slider-img{
        width: 170px;
        /* height: 170px; */
    }
    .slick-dots li button::before{
       font-size: 5px !important;
    }
    .portfolio-slider-button{
        display: flex;
        justify-content: center;
    }
    .portfolio-view-all-b{
        padding: 10px;
        /* margin: 50px auto 10px; */
        margin: 0;
    }
    .testimonials{
        padding-top: 80px;
    }
    .testimonials-carousel{
        /* width: 300px; */
        width: 100%;
    }
    .slider-info{
        /* width: 300px; */
        width: 100%;
    }
    .slick-dots{
        /* width: 270px !important; */
        margin: auto !important;
    }
    .first-testimonials-carousel{
        /* width: 310px; */
        width: 100%;
        margin: auto;
    }
    .second-testimonials-carousel{
        width: 250px;
        margin: auto;
    }
    .sticky-arrow-up{
        top: 90%;
        left: 69%;
    }
    #blobBlog{
        display: none;
    }
    .blog{
        margin-top: 70px;
    }
    .blog-items{
        flex-direction: column;
        height: unset;
    }
    .blog-item1{
        width: 100%;
        margin-bottom: 20px;
        height: unset;
    }
    .item-info{
        width: 232px;
        padding: 15px 15px;
    }
    /* .blog-button{
        display: flex;
        justify-content: center;
    } */
    .contact{
        margin-top: 50px;
        padding-top: 50px;
        background-image:unset;
    }
    form{
        width: 100%;
    }
    .form-line{
        flex-direction: column;
    }
    .input-text{
        /* width: 240px; */
        width: 100%;
        box-sizing: border-box;
    }
    select{
        width: 100% !important;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        box-sizing: border-box;
    }
    .button-submit{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .container4{
        width: 85%;
    }
    /* #map{
        display: none;
    } */
    .footer-main-info{
        display: flex;
        flex-direction: column;
    }
    .limk{
        margin-bottom: 13px;
    }
    .footer-title{
        margin-top: 10px;
    }
    .footer-links{
        flex-direction: column;
    }
    .footer-br{
        display: none;
    }
    footer .services-info-p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer-right{
        width: 100%;
    }
}
/* Mobile L */
@media screen and (min-width: 426px) and (max-width: 767px)
{
    .mobile-menu{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 90%;
        margin: auto;
    }
    .mobile-burger-img{
        width: 30px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 600;
        font-size: 20px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 50px;
        text-align: center;
    }
    .slogan{
        height: unset;
        width: 90%
    }
    .slogan-br-dn{
        display: block;
    }
    .slogan-inside{
        flex-direction: column;
        justify-content: center;
    }
    .slogan-info-h1{
        font-size: 35px;
        line-height: 41px;
        width: 100%;
    }
    .slogan-p{
        font-size: 23px;
    }
    .slogan-buttons{
        margin-top: 40px;
    }
    .slogan-button-fill{
        padding: 10px 10px;
        margin-right: 0px;
    }
    .slogan-button-link{
        padding: 10px 10px;
    }
    .videoPop{
        max-width: 100%;
    }
    #video-popup{
        width: 90%;
        height: 560px;
    }
    .slogan-inside-img img{
        width: 100%;
        margin-top: 30px;
    }
    .about{
        margin-top: 30px;
    }
    .container3{
        width: 90%;
    }
    .about-info-block{
        display: flex;
        flex-direction: column;
    }
    .h2-custom{
        width: 110px;
        margin: auto;
    }
    .line-h2-custom{
        width: 90px;
        margin: auto;
    }
    .about-img-media{
        display: block;
        width: 70%;
        margin: auto;
    }
    .about-img-media img{
        width: 100%;
    }
    .about-info{
        width: 80%;
        margin-bottom: 30px;
    }
    .about-button-div{
        display: flex;
        justify-content: center;
    }
    .custom-p{
        font-size: 13px;
    }
    .custom-title-h4{
        font-size: 20px;
    }
    .about-counter{
        margin-top: 40px;
        display: flex;

    }
    .counter-box{
        width: 130px;
        height: 130px;
        margin-bottom: 50px;
    }
    .chart{
        width: 110px;
        height: 110px;
    }
    .chart canvas{
        width: 110px !important;
        height: 110px !important;
    }
    .chart-info{
        height: 110px;
    }
    .chart-info-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .prcent-counter{
        font-size: 28px;
    }
    .percent-info{
        font-size: 8px;
    }
    .counter-box-row1{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .counter-box-row2{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .h3-services{
        font-size: 20px;
    }
    .h3-services-line{
        width: 50%;
        margin: auto auto 30px;
    }
    .services-info{
        width: 35%;
        margin-bottom: 10px;
    }
    .services-counter{
        width: 35%;
        margin-bottom: 10px;
    }
    .container2{
        width: 85%;
    }
    .portfolio{
        margin-top: 40px;
    }
    .portfolio-slider-img{
        width: 170px;
        height: 170px;
    }
    .slick-dots li button::before{
       font-size: 5px !important;
    }
    .portfolio-slider-button{
        display: flex;
        justify-content: center;
    }
    .portfolio-view-all-b{
        padding: 10px;
        /* margin: 50px auto 10px; */
        margin: 0;
        text-decoration: none;
    }
    .testimonials{
        padding-top: 80px;
    }
    .testimonials-carousel{
        /* width: 300px; */
        width: 100%;
    }
    .slider-info{
        /* width: 300px; */
        width: 70%;
    }
    .slick-dots{
        /* width: 270px !important;*/
        margin: auto !important;
    }
    .first-testimonials-carousel{
        /* width: 310px; */
        width: 100%;
        margin: auto;
    }
    .second-testimonials-carousel{
        width: 250px;
        margin: auto;
    }
    .sticky-arrow-up{
        top: 90%;
        left: 85%;
    }
    .blog{
        margin-top: 70px;
    }
    .blog-items{
        flex-direction: column;
        height: unset;
    }
    .blog-item1{
        width: 100%;
        margin-bottom: 10px;
        height: unset;
    }
    .item-info{
        width: 232px;
        padding: 15px 15px;
    }
    .blog-button{
        display: flex;
        justify-content: center;
    }
    .contact{
        margin-top: 50px;
        padding-top: 50px;
        background-image:unset;
    }
    form{
        width: 100%;
    }
    .form-line{
        flex-direction: column;
    }
    .input-text{
        /* width: 240px; */
        width: 100%;
        box-sizing: border-box;
    }
    select{
        width: 100% !important;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        box-sizing: border-box;
    }
    .button-submit{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .container4{
        width: 90%;
    }
    .footer-main-info{
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }
    .footer-links{
        flex-direction: column;
    }
    footer .services-info-p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer-right{
       display: flex;
       flex-direction: column;
       width: unset;
    }
}
/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
    }
    .navbar{
        display: none;
    }
    .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 90%;
        margin: auto;
    }
    .mobile-burger-img{
        width: 30px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 600;
        font-size: 20px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 50px;
        text-align: center;
    }
    .slogan{
        height: unset;
    }
    .slogan-br-dn{
        display: block;
    }
    .slogan-inside{
        /* flex-direction: column; */
        justify-content: center;
    }
    .slogan-info-h1{
        font-size: 25px;
        line-height: 30px;
    }
    .slogan-p{
        font-size: 23px;
    }
    .slogan-buttons{
        margin-top: 40px;
    }
    .slogan-button-fill{
        padding: 10px 10px;
        margin-right: 0px;
    }
    .slogan-button-link{
        padding: 10px 10px;
    }
    .videoPop{
        max-width: 100%;
    }
    #video-popup{
        width: 90%;
        height: 560px;
    }
    .slogan-inside-img img{
        width: 100%;
        margin-top: 30px;
    }
    .about{
        margin-top: 50px;
    }
    .about-info{
        width: 100%;
    }
    .container3{
        width: 90%;
    }
    .h2-custom{
        width: 110px;
        margin: auto;
    }
    .line-h2-custom{
        width: 90px;
        margin: auto;
    }
    .about-img-media{
        display: block;
        width: 70%;
        margin: auto;
    }
    .about-img-media img{
        width: 100%;
    }
    .about-info{
        /* width: 80%; */
        margin-bottom: 30px;
    }
    .about-button-div{
        display: flex;
        justify-content: center;
    }
    .custom-p{
        font-size: 18px;
    }
    .custom-title-h4{
        font-size: 20px;
    }
    .about-counter{
        margin-top: 40px;
        display: flex;

    }
    .counter-box{
        width: 150px;
        height: 150px;
        margin-bottom: 50px;
    }
    .chart{
        width: 130px;
        height: 130px;
    }
    .chart canvas{
        width: 130px !important;
        height: 130px !important;
    }
    .chart-info{
        height: 150px;
    }
    .chart-info-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .prcent-counter{
        font-size: 28px;
    }
    .percent-info{
        font-size: 8px;
    }
    .counter-box-row{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .counter-box-row{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .h3-services{
        font-size: 20px;
    }
    .h3-services-line{
        width: 50%;
        margin: auto auto 30px;
    }
    .services-info{
        width: 35%;
        margin-bottom: 10px;
    }
    .services-counter{
        width: 35%;
        margin-bottom: 10px;
    }
    .services-blocks{
        margin-top: 140px;
    }
    .services-row{
        margin-top: -115px !important;
    }
    .container2{
        width: 85%;
    }
    .portfolio{
        margin-top: 40px;
    }
    .portfolio-slider-img{
        width: 170px;
        height: 170px;
    }
    .slick-dots li button::before{
       font-size: 5px !important;
    }
    .portfolio-slider-button{
        display: flex;
        justify-content: center;
    }
    .portfolio-view-all-b{
        padding: 10px;
        /* margin: 50px auto 10px; */
        margin: 0;
    }
    .testimonials{
        padding-top: 80px;
    }
    .testimonials-carousel{
        /* width: 300px; */
        width: 100%;
    }
    .slider-info{
        /* width: 300px; */
        width: 70%;
    }
    .slick-dots{
        /* width: 270px !important;*/
        margin: auto !important;
    }
    .first-testimonials-carousel{
        /* width: 310px; */
        width: 100%;
        margin: auto;
    }
    .second-testimonials-carousel{
        width: 250px;
        margin: auto;
    }
    .sticky-arrow-up{
        top: 90%;
        left: 75%;
    }
    .blog{
        margin-top: 70px;
        margin: auto;
    }
    .blog-items{
        flex-direction: row;
        height: unset;
    }
    #blobBlog{
        display: none;
    }
    .blog-item1{
        width: 32%;
        margin-bottom: 10px;
        height: unset;
    }
    .item-info{
        width: 86%;
        padding: 15px 15px;
    }
    .blog-button{
        display: flex;
        justify-content: center;
    }
    .contact{
        margin-top: 50px;
        padding-top: 50px;
        background-image:unset;
    }
    form{
        width: 100%;
    }
    .input-text{
        /* width: 240px; */
        width: 45%;
        box-sizing: border-box;
    }
    select{
        width: 45% !important;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        box-sizing: border-box;
    }
    .button-submit{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .container4{
        width: 90%;
    }
    .footer-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .footer-logo-description{
        width: 64%;
    }
    .footer-main-info{
       display: block;
    }
    /* .footer-links{
        flex-direction: column;
    } */
    footer .services-info-p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer-info{
        width: 100%;
    }
    .footer-right{
        width: 100%;
       display: flex;
       flex-direction: column;

    }
}
/* MDPI */
@media screen and (min-width: 1025px) and (max-width: 1290px){
    /* .mobile-menu{
        display: flex;
        flex-direction: column;
    } */
    .mobile-menu{
        display: none;
    }
    .navbar{
        display: flex;
    }
    /* .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 90%;
        margin: auto;
    }
    .mobile-burger-img{
        width: 30px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 600;
        font-size: 20px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 50px;
        text-align: center;
    } */
    /* .slogan{
        height: unset;
    } */
    .slogan-br-dn{
        display: block;
    }
    .slogan-inside{
        /* flex-direction: column; */
        justify-content: center;
    }
    .slogan-info-h1{
        font-size: 25px;
        line-height: 30px;
    }
    .slogan-p{
        font-size: 23px;
    }
    .slogan-buttons{
        margin-top: 40px;
    }
    .slogan-button-fill{
        padding: 10px 10px;
        margin-right: 0px;
    }
    .slogan-button-link{
        padding: 10px 10px;
    }
    .videoPop{
        max-width: 100%;
    }
    #video-popup{
        width: 90%;
        height: 560px;
    }
    .slogan-inside-img img{
        width: 100%;
        margin-top: 30px;
    }
    .about{
        margin-top: 30px;
    }
    .container3{
        width: 90%;
    }
    /* .about-info-block{
        display: flex;
        flex-direction: column;
    } */
    .h2-custom{
        width: 110px;
        margin: auto;
    }
    .line-h2-custom{
        width: 90px;
        margin: auto;
    }
    .about-img-media{
        display: block;
        width: 70%;
        margin: auto;
    }
    .about-img-media img{
        width: 100%;
    }
    .about-info{
        /* width: 80%; */
        margin-bottom: 30px;
    }
    .about-button-div{
        display: flex;
        justify-content: center;
    }
    .custom-p{
        font-size: 13px;
    }
    .custom-title-h4{
        font-size: 20px;
    }
    .about-counter{
        margin-top: 40px;
        display: flex;

    }
    /* .counter-box{
        width: 180px;
        height: 180px;
        margin-bottom: 50px;
    }
    .chart{
        width: 180px;
        height: 180px;
    }
    .chart canvas{
        width: 180px !important;
        height: 180px !important;
    }
    .chart-info{
        height: 180px;
    } */
    .chart-info-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .prcent-counter{
        font-size: 28px;
    }
    .percent-info{
        font-size: 8px;
    }
    .counter-box-row{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .counter-box-row{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .h3-services{
        font-size: 20px;
    }
    .h3-services-line{
        width: 35%;
        margin: auto auto 30px;
    }
    .services-info{
        width: 35%;
        margin-bottom: 10px;
    }
    .services-counter{
        width: 35%;
        margin-bottom: 10px;
    }
    .container2{
        width: 85%;
    }
    .portfolio{
        margin-top: 40px;
    }
    .portfolio-line2{
        width: 20%;
    }
    .portfolio-slider-img{
        width: 170px;
        height: 170px;
    }
    .slick-dots li button::before{
       font-size: 5px !important;
    }
    .portfolio-slider-button{
        display: flex;
        justify-content: center;
    }
    .portfolio-view-all-b{
        padding: 10px;
        /* margin: 50px auto 10px; */
        margin: 0;
    }
    .testimonials{
        padding-top: 80px;
    }
    .testimonials-carousel{
        /* width: 300px; */
        width: 100%;
    }
    .slider-info{
        /* width: 300px; */
        width: 70%;
    }
    .slick-dots{
        /* width: 270px !important;*/
        margin: auto !important;
    }
    .first-testimonials-carousel{
        /* width: 310px; */
        width: 100%;
        margin: auto;
    }
    .second-testimonials-carousel{
        width: 250px;
        margin: auto;
    }
    .sticky-arrow-up{
        top: 90%;
        left: 85%;
    }
    .blog{
        margin-top: 70px;
    }
    .blog-items{
        /* flex-direction: column; */
        height: unset;
    }
    .blog-item1{
        /* width: 100%; */
        width: 32%;
        margin-bottom: 10px;
        height: unset;
    }
    .item-info{
        width: 232px;
        padding: 15px 15px;
    }
    .blog-button{
        display: flex;
        justify-content: center;
    }
    #blobBlog{
        position: absolute;
        z-index: -20;
        top: 5309px;
        right: 0px;
    }
    .contact{
        margin-top: 50px;
        padding-top: 50px;
        background-image:unset;
    }
    /* form{
        width: 100%;
    } */
    /* .form-line{
        flex-direction: column;
    } */
    .input-text{
        /* width: 240px; */
        width: 45%;
        box-sizing: border-box;
    }
    select{
        width: 45% !important;
        box-sizing: border-box;
    }
    textarea{
        width: 100%;
        box-sizing: border-box;
    }
    .button-submit{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .container4{
        width: 90%;
    }
    .footer-main-info{
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
    }
    /* .footer-links{
        flex-direction: column;
    } */
    footer .services-info-p{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .footer-info{
        width: 100%;
    }
    .footer-right{
       display: flex;
       flex-direction: column;
    }
    #scene-footer{
        display: none;
    }
}
@media screen and (min-width: 1442px){
    .contant{
        width: 1100px;
        margin: auto;
    }
    .container2{
        width: 1100px;
        margin: auto;
    }
    .container{
        width: 1100px;
        margin: auto;
    }
    .container3{
        width: 1100px;
        margin: auto;
    }
    .container4{
        width: 1100px;
        margin: auto;
    }
    .blog{
        margin-top: 70px;
    }
    .blog-items{
        /* flex-direction: column; */
        height: unset;
    }
    .blog-item1{
        /* width: 100%; */
        width: 32%;
        margin-bottom: 10px;
        height: unset;
    }
    .item-info{
        width: 232px;
        padding: 15px 15px;
    }
}
/* @media screen and (min-width: 1220px) and (max-width: 1290px){
    .portfolio-grid{
        width: 970px;
    }
    .gutter-sizer{
        width: 30px;
    }
    .grid-item{
        width: 220px;
    }
    .blog-items{
        width: 100%;
    }
    .blog-item1{
        width: 32%;
    }
    .footer-parallax-3{
        top: -276px!important;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1219px){
    .slogan-inside-info{
        width: 55%;
    }
    .slogan-inside-img{
        width: 45%;
    }
    .slogan-inside-img img{
        width: 100%;
    }
    .slogan-button-fill{
        padding: 10px 30px;
    }
    .slogan-button-link{
        padding: 10px 30px;
    }
    .container3{
        width: 95%;

    }
    .about-parallax2{
        top: -494px;
        left: -76px;
    }
    /* .about-counter{
        width: 95%;
        margin: auto;
    } */
    /* #blobBlog{
        display: none;
    }
    .aboutimg-item{
        height: 470px;
        width: 360px;
    }
    .portfolio-grid{
        width: 860px;
    }
    .gutter-sizer{
        width: 20px;
    }
    .grid-item{
        width: 200px;
    }
    .blog{
        margin-top: 30px;
    }
    .blog-items{
        height: unset;
    }
    .blog-item1{
        width: 32%;
        height: 429px;
    }
    .parallax-img-a1 {
        left: 10px !important;
    }
    .item-info{
        width: 200px;
    }
    .footer-right{
        width: 65%;
    }
    .sticky-arrow-up{
        top: 90%;
        left: 69%;

    }
} */
/* @media screen and (max-width: 1025px){
    #blobBlog{
        display: none;
    }
} */ 
/* @media screen and (min-width: 769px) and (max-width: 1024px){
    .slogan-inside-info{
        width: 55%;
    }
    .slogan-inside-img{
        width: 45%;
    }
    .slogan-inside-img img{
        width: 100%;
    }
    .slogan-button-fill{
        padding: 10px 30px;
    }
    .slogan-button-link{
        padding: 10px 30px;
    }
    .container3{
        width: 95%;
    }
    .about-parallax2{
        top: -494px;
        left: -76px;
    }
    .container4{
        width: 90%;
        margin: auto;
    }
    #blobBlog{
        display: none;
    }
    .aboutimg-item{
        height: 470px;
        width: 360px;
    }
    /* .about-counter{
        width: 95%;
        margin: auto;
    } */
    /* .counter-box{
        width: 220px;
        height: 220px;
    } */
    /* .chart{
        width: 140px;
        height: 140px;
    }  */
    /* .chart-info{
        height: 140px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .chart{
        left: -20px;
        top: -20px;
    } */
    /* .services-counter{
        padding: 30px;
    }
    .services-info{
        padding: 30px;
    }
    .portfolio-grid{
        width: 860px;
    }
    .gutter-sizer{
        width: 20px;
    }
    .grid-item{
        width: 200px;
    }
    .blog{
        margin-top: 30px;
    }
    .blog-items{
        height: unset;
    }
    .blog-item1{
        width: 32%;
        height: 429px;
    }
    .parallax-img-a1 {
        left: 10px !important;
    }
    .item-info{
        width: 200px;
    }
    .footer-right{
        width: 65%;
    }
    .sticky-arrow-up{
        left: 90%;
    }
    .footer-parallax-3{
        top: -274px!important;
    }
    .contact{
        margin-top: 70px;
    }
    form{
        width: 100%;
    }
    textarea{
        width: 93%;
    }
    .input-text{
        width: 41%;
    }
    select{
        width: 47% !important;
    }   
} */
/* финтиклюшки выключаем */
@media screen and (max-width: 900px){
    #blobId{
        display: none;
    }
    #scene{
        display: none;
    }
    #scene-footer{
        display: none;
    }
    #scene-testimonials{
        display: none;
    }
    #blobxId{
        display: none;
    }
    #blobaId{
        display: none;
    }
    #blobtId{
        display: none;
    }
    .about-img{
        display: none;
    }
}